<ion-header>
  <ion-toolbar>
    <ion-title>Insights</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="bottomNav">
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="home" routerLink="/home" routerDirection="back">
          <ion-icon name="home"></ion-icon>
          <ion-label>Home</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="viewLogs" routerLink="/viewlogs-page" routerDirection="back">
          <ion-icon name="documents-outline"></ion-icon>
          <ion-label>View Logs</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="sendLogs" routerLink="/send-logs-page" routerDirection="back">
          <ion-icon name="share-outline"></ion-icon>
          <ion-label>Send Logs</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="insights" routerLink="/insights-page" routerDirection="root">
          <ion-icon name="bar-chart-outline"></ion-icon>
          <ion-label>Insights</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="help" routerLink="/help-page" routerDirection="forward">
          <ion-icon name="help"></ion-icon>
          <ion-label>Help</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </div>
</ion-content>