<ion-header>
  <ion-toolbar>
    <ion-title>Insights</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-card>
      <ion-card-header>
        Pain Intensity Over Time
      </ion-card-header>
      <ion-card-content>
        <canvas #intensityTimeCanvas></canvas>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        Frequency of Pain Intensity
      </ion-card-header>
      <ion-card-content>
        <canvas #intensityFreqCanvas></canvas>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        Type of Pain
      </ion-card-header>
      <ion-card-content>
        <canvas #typePieCanvas></canvas>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        Mobility
      </ion-card-header>
      <ion-card-content>
        <canvas #mobilityPieCanvas></canvas>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        Constant or Intermittent
      </ion-card-header>
      <ion-card-content>
        <canvas #constantPieCanvas></canvas>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        Frequency of Redflags Symptoms
      </ion-card-header>
      <ion-card-content>
        <canvas #redflagsFreqCanvas></canvas>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        Does the pain keep you up at night?
      </ion-card-header>
      <ion-card-content>
        <canvas #nightPainPieCanvas></canvas>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        What makes the pain worse or better?
      </ion-card-header>
      <ion-card-content>
        <canvas #worseBetterCanvas></canvas>
      </ion-card-content>
    </ion-card>
  </div>
  
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="presentModal()">
      <ion-icon name="filter" color="dark"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>