<ion-header>
  <ion-toolbar>
    <ion-title>View logs</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let log of this.logsToDisplay">
    <ion-card-header>
      <ion-card-title>
        {{log.datetime | date:'short'}}.
        {{log.duration}} mins.
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-label>Body part: {{log.body_part}}</ion-label>
          </ion-col>
          <ion-col>
            <ion-label>Intensity: {{log.intensity}}</ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  <!--currently unused, but will re-enable when we get to database-->
  <!-- <ion-infinite-scroll threshold="15%" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll> -->

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="filterLogs()">
      <ion-icon name="filter" color="dark"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
<ion-footer>
  <ion-toolbar id="bottomNav">
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="home" routerLink="/home" routerDirection="back">
          <ion-icon name="home"></ion-icon>
          <ion-label>Home</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="viewLogs" routerLink="/view-logs" routerDirection="root">
          <ion-icon name="documents-outline"></ion-icon>
          <ion-label>View Logs</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="sendLogs" routerLink="/send-logs-page" routerDirection="forward">
          <ion-icon name="share-outline"></ion-icon>
          <ion-label>Send Logs</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="insights" routerLink="/insights-page" routerDirection="forward">
          <ion-icon name="bar-chart-outline"></ion-icon>
          <ion-label>Insights</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="help" routerLink="/help-page" routerDirection="forward">
          <ion-icon name="help"></ion-icon>
          <ion-label>Help</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>