<ion-header>
  <ion-toolbar>
    <ion-title>View logs</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let log of this.logsToDisplay">
    <ion-card-header>
      <ion-card-title>
        {{log.datetime | date:'short'}}.
        {{log.duration}} mins.
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-label>Body part: {{log.body_part}}</ion-label>
          </ion-col>
          <ion-col>
            <ion-label>Intensity: {{log.intensity}}</ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  <!--currently unused, but will re-enable when we get to database-->
  <!-- <ion-infinite-scroll threshold="15%" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll> -->

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="filterLogs()">
      <ion-icon name="filter" color="dark"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
