<ion-header>
  <ion-toolbar>
    <ion-title>redflags-page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!--Back button to symptoms page-->
  <ion-fab vertical="center" horizontal="start" slot="fixed">
    <ion-fab-button color="success" routerDirection="back" href="/symptoms-page">
      <ion-icon name="arrow-back-circle-outline" color="dark"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <!--Forward Button to comments page-->
  <ion-fab vertical="center" horizontal="end" slot="fixed">
    <ion-fab-button color="success" routerDirection="forward" href="/comments-page">
      <ion-icon name="arrow-forward-circle-outline" color="dark"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
