<ion-header>
  <ion-toolbar>
    <ion-title>Have you experienced any of the following symptoms?</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let entry of form">
      <ion-label>{{entry.val}}</ion-label>
      <ion-checkbox slot="end" [(ngModel)]="entry.isChecked"></ion-checkbox>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="start" slot="fixed" (click)="updateLog()">
    <app-log-nav-button direction="back" link="/symptoms"></app-log-nav-button>
  </ion-fab>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="updateLog()">
    <app-log-nav-button direction="forward" link="/comments">
    </app-log-nav-button>
  </ion-fab>

</ion-content>