<ion-header>
  <ion-toolbar>
    <ion-title>Date and time</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center">
        Start time of pain
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-datetime displayFormat="D MMM YYYY H:mm" placeholder="When did the pain start?" [(ngModel)]="datetime">
        </ion-datetime>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <app-log-nav-button direction="back" link="/tabs/home"></app-log-nav-button>
  </ion-fab>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <app-log-nav-button direction="forward" link="/bodymap" #forwardButton>
    </app-log-nav-button>
  </ion-fab>
</ion-content>
<ion-footer>
  <!--Back button to home page-->


  <!--Forward Button to bodymap page-->

  <!-- <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="success" routerDirection="forward" routerLink="/bodymap" (click)="updateLog()">
      <ion-icon name="arrow-forward-circle-outline" color="dark"></ion-icon>
    </ion-fab-button>
  </ion-fab> -->
</ion-footer>