<ion-header>
  <ion-toolbar>
    <ion-title>Date and time</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center">
        Start time of pain
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-datetime displayFormat="D MMM YYYY H:mm" placeholder="When did the pain start?" [(ngModel)]="datetime">
        </ion-datetime>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!--Back button to home page-->
  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button color="success" routerDirection="back" routerLink="/home" (click)="updateLog()">
      <ion-icon name="arrow-back-circle-outline" color="dark"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <!--Forward Button to bodymap page-->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="success" routerDirection="forward" routerLink="/bodymap" (click)="updateLog()">
      <ion-icon name="arrow-forward-circle-outline" color="dark"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>