<ion-header>
  <ion-toolbar>
    <ion-title>bodymap-page</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content>

  <ion-grid>
    <ion-row class="selection">
      <ion-col class="selection">
        <ion-item>
          <ion-label>Pain Area</ion-label>
          <ion-select cancelText="Cancel" okText="Ok" [(ngModel)]="painType" multiple={true}
            placeholder="Select Pain Area(s)">
            <ion-select-option value="rShoulder">Right Shoulder</ion-select-option>
            <ion-select-option value="lShoulder">Left Shoulder</ion-select-option>
            <ion-select-option value="neck">Neck</ion-select-option>
            <ion-select-option value="uBack">Upper Back</ion-select-option>
            <ion-select-option value="lBack">Lower Back</ion-select-option>
            <ion-select-option value="mBack">Middle Back</ion-select-option>
            <ion-select-option value="glutes">Glutes</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <img src="./assets/bodyMap.png">
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab vertical="bottom" horizontal="start" slot="fixed" (click)="updateLog()">
    <app-log-nav-button direction="back" link="/datetime"></app-log-nav-button>
  </ion-fab>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="updateLog()">
    <app-log-nav-button direction="forward" link="/symptoms">
    </app-log-nav-button>
  </ion-fab>

</ion-content>