<ion-header>
  <ion-toolbar>
    <ion-title>Help</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-button expand="block" (click)="doctorShown = !doctorShown" class="doctor" shape="round" color="dark">
        <ion-icon name="caret-down-sharp"></ion-icon>
        When should I see my doctor?
      </ion-button>
      <ion-text id="doctor" *ngIf="doctorShown">
        Most pain improves gradually with treatment and self-care within a few weeks. You should contact your doctor if:
        <ul>
          <li>
            Pain Persists past a few weeks.
          </li>
          <li>
            Spreads down 1 or both legs, especially if pain begins to extened below the knee.
          </li>
          <li>
            Pain causes weakness, numbness, or tingling in 1 or both legs.
          </li>
          <li>
            Pain is acompanied by a fever.
          </li>
          <li>
            If pain is from a fall, blow to the back, or any other type of injury.
          </li>
        </ul>
        For more information visit <a
          href=" https://www.mayoclinic.org/diseases-conditions/back-pain/symptoms-causes/syc-20369906">
          Mayo Clinic's Webiste
        </a>
      </ion-text>
    </ion-item>
    <ion-item>
      <ion-button expand="block" (click)="exportLogs = !exportLogs" class="export" shape="round" color="dark">
        <ion-icon slot="start" name="caret-down-sharp" class="questions"></ion-icon>
        How to export my logs?
      </ion-button>
      <ion-text id="export" *ngIf="exportLogs">
        In order to export your logs follow the steps below:
        <ol>
          <li>
            Navigate to <a routerLink="/tabs/viewlogs">View Logs</a>
          </li>
        </ol>

      </ion-text>
    </ion-item>
  </ion-list>








</ion-content>