<ion-header>
  <ion-toolbar>
    <ion-title>Comments</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-text>
    <h1>Notes</h1>
  </ion-text>

  <ion-item>
    <ion-textarea rows="6" cols="20" [(ngModel)]="comment"
      placeholder="e.g. Lifting right arm caused pain on my lower back..."></ion-textarea>
  </ion-item>

  <ion-fab vertical="bottom" horizontal="start" slot="fixed" (click)="updateLog()">
    <app-log-nav-button direction="back" link="/redflags"></app-log-nav-button>
  </ion-fab>

  <!--Submit button that takes you back to home page-->
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-button expand="block" (click)="makeAlert()">{{submit_button_label}}</ion-button>
  </ion-fab>
</ion-content>