<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="mainScreen">
    <ion-row>
      <ion-col>
        Welcome, {{welcomeMsg}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button routerLink="/login" color="success" shape="round" strong="true">Login/Sign Up</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button routerLink="/datetime" color="success" shape="round" strong="true">Report Pain</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button routerLink="/tabs/medication" color="success" shape="round" strong="true">Report Medication Use
        </ion-button>
      </ion-col>
    </ion-row>
  </div>


</ion-content>