<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-buttons slot="end">
      <ion-back-button defaultHref="/home">
      </ion-back-button>
      <ion-fab>
        <ion-fab-button href="/datetime">
        </ion-fab-button>
      </ion-fab>
    </ion-buttons>
  </div>


  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-icon name="home"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-tab-button>
      
      <ion-tab-button tab="viewLogs" routerLink="/viewlogs-page">
        <ion-icon name="documents-outline"></ion-icon>
        <ion-label>View Logs</ion-label>
      </ion-tab-button>
      
      <ion-tab-button tab="sendLogs">
        <ion-icon name="share-outline"></ion-icon>
        <ion-label>Send Logs</ion-label>
      </ion-tab-button>
      
      <ion-tab-button tab="insights">
        <ion-icon name="bar-chart-outline"></ion-icon>
        <ion-label>Insights</ion-label>
      </ion-tab-button>
      
      <ion-tab-button tab="help">
        <ion-icon name="help"></ion-icon>
        <ion-label>Help</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

</ion-content>
