<ion-header>
  <ion-toolbar>
    <ion-title>symptoms-page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!--Back button to bodymap page-->
  <ion-fab vertical="center" horizontal="start" slot="fixed">
    <ion-fab-button color="success" routerDirection="back" href="/bodymap-page">
      <ion-icon name="arrow-back-circle-outline" color="dark"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <!--Forward Button to redflags page-->
  <ion-fab vertical="center" horizontal="end" slot="fixed">
    <ion-fab-button color="success" routerDirection="forward" href="/redflags-page">
      <ion-icon name="arrow-forward-circle-outline" color="dark"></ion-icon>
    </ion-fab-button>
  </ion-fab>



</ion-content>
